@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --body-txt: #2c2c2c;

  --white: #fff;

  --gray-100: #fbfbfb;
  --gray-200: #fbf9f8;
  --gray-300: #ededed;
  --gray-400: #b3b3b3;
  --gray-500: #888;

  --red-100: #feefe5;
  --red-200: #e26e6e;
  --red-300: #db4c41;
  --red-500: #c00f0c;

  --green-300: #25933e;

  --blue-200: #6ebde2;

  --orange-200: #ff9d5f;

  --font: "Rubik", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  position: relative;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 330px 1fr;
}

li {
  list-style: none;
}

/* Default Button Styles */

.btn {
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  font-size: 1.6rem;
  border: 1px solid transparent;

  transition: 100ms ease;
}

.btn-primary-red {
  display: block;
  background-color: var(--red-300);
  color: var(--white);
  border: 1px solid var(--red-300);

  &:active {
    border-color: var(--red-500);
    background-color: var(--red-500);
  }
}

/* Side bar styles */

.sidebar {
  padding: 1em 1em 1em 2em;
  background-color: var(--gray-100);
}

.logo-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  .branding {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--body-txt);
  }
}

/* Clickable Icons */

.btn.icon {
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    path {
      stroke: var(--gray-400);
    }
  }

  &:active {
    path {
      stroke: var(--body-txt);
    }
  }
}

.nav-container {
  margin-top: 3em;

  .project-item {
    border-radius: 0.5em;

    &:hover {
      background-color: var(--gray-300);
    }
  }

  .project-item .btn-project-item {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 0.65em;
    cursor: pointer;

    border: none;
    background-color: transparent;

    span {
      font-size: 1.6rem;
      font-family: var(--font);
    }
  }

  .project-item.active {
    background-color: var(--red-100);

    .btn-project-item {
      color: var(--red-500);
    }

    path {
      stroke: var(--red-500);
    }
  }
}

.user-projects-container {
  margin-top: 4em;

  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    padding-left: 0.6em;
    margin-bottom: 0.5em;
  }

  .project-list {
    margin-bottom: 1em;
  }
}

.add-project-form {
  * {
    font-family: var(--font);
    font-size: 1.6rem;
    border-radius: 0.2em;
  }

  .form-group {
    display: flex;
    gap: 0.5em;

    input {
      flex: 1;
      padding: 0.3em;
      border: 1px solid var(--gray-400);

      &:focus {
        outline: none;
        border: 1px solid var(--gray-500);
      }
    }
  }
}

/* Task area styles */

.main {
  display: flex;
  padding: 2em;
}

.task-area {
  margin-top: 3em;
  margin-inline: auto;
  width: 100%;
  max-width: 800px;
}

.task-area-project-title-row {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .task-area-project-title {
    font-size: 3.6rem;
    font-weight: 500;
  }
}

/* Task Item Styles */

.task-item {
  position: relative;
  padding: 1.5em 3.2em 1.5em 1.5em;
  border-radius: 0.5em;
  background-color: var(--gray-50);
  display: flex;
  align-items: flex-start;
  gap: 1em;
  margin-bottom: 1em;
  border: 1px solid var(--gray-300);
  border-left: 7px solid var(--gray-300);
  overflow: hidden;
  /* box-shadow: 0 1px 2px 0 var(--gray-300); */

  .task-content {
    * {
      font-size: 1.6rem;
      font-weight: 300;
      display: block;
    }

    .task-title {
      display: block;
      font-weight: 400;
      color: var(--body-txt);
    }

    .task-due {
      margin-top: 0.3em;
      color: var(--green-300);
    }

    .task-details {
      font-size: 1.5rem;
      margin-top: 0.3em;
      color: var(--gray-500);
      display: none;
    }

    .task-details.show {
      display: block;
    }
  }

  .task-item-actions {
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--gray-300);

    * {
      flex: 1;
    }
  }

  .btn-task-action {
    padding: 0 0.5em;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    border-radius: 0px;
  }

  .btn-task-action.btn-task-remove {
    background-color: transparent;
    color: var(--red-500);
    border-bottom: 1px solid var(--gray-300);
    font-size: 2rem;

    &:hover {
      path {
        stroke: var(--red-200);
      }
    }

    &:active {
      path {
        stroke: var(--red-500);
      }
    }
  }

  .btn-task-action.btn-task-edit {
    background-color: transparent;

    &:hover {
      path {
        stroke: var(--gray-400);
      }
    }

    &:active {
      path {
        stroke: var(--body-txt);
      }
    }
  }

  /* &:hover {
    .task-details {
      display: block;
    }
  } */
}

/* Task Priority Coloring */
.task-item.task-high {
  border-left: 7px solid var(--red-200);
}

.task-item.task-low {
  border-left: 7px solid var(--blue-200);
}

.task-item.task-medium {
  border-left: 7px solid var(--orange-200);
}

/* Modal Styles */

.task-modal {
  margin: auto;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
  }
}

.task-modal-content {
  background-color: var(--white);
  width: 800px;
  max-width: 800px;
  padding: 2em;
  border-radius: 1em;

  .modal-title {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
  }
}

.task-modal-form {
  margin-top: 2em;

  .form-group-row {
    display: flex;
    gap: 8em;
    align-items: center;
  }

  .form-group {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;

    label,
    input,
    select {
      font-size: 1.6rem;
      display: block;
    }

    label {
      min-width: 80px;
    }

    input:not([type="date"]),
    select {
      flex: 1;
      padding: 0.2em 0.5em;
    }

    textarea {
      width: 100%;
      resize: vertical;
      padding: 0.2em 0.5em;
    }
  }

  .form-group.form-actions {
    justify-content: flex-end;
  }

  .modal-close-btn {
    &:active {
      border-color: var(--gray-400);
      background-color: var(--gray-400);
    }
  }
}
